body{
    text-align: center;
   
    
}
.bat{
    height: 150px;
    width: 150px;
    background-image: url("BAt.png");
    background-size: contain;
    cursor: pointer;
}
.ball{
    height: 150px;
    width: 150px;
    background-image: url("BALL.png");
    background-size: cover;
    cursor: pointer;
    margin-left: 15px;
}
.Stump{
    height: 150px;
    width: 150px;
    background-image: url("Wicket.jpg");
    background-size:cover;
    cursor: pointer;
    margin-left: 15px;
}
button{
    height: 150px;
    width: 150px;
    background:black;
    color: white;
    font-size: 35px;
}

h1{
    font-size: 55px;
}
